.allabout {
  width: 1440px;
  margin: 0 auto;
  display: block;

}
section div {
  width: 49.5%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
  overflow: hidden;
}
section h2, section p {
  width: 590px;
  margin: 0 auto 0 17%;
}
section h2 {
  font-size: 40px;
  line-height: 46px;
  margin-top: 128px;
  margin-bottom: 25px;
}
section p {
  font-size: 26px;
  line-height:38px;
}
section div:nth-child(even) img {
  padding: 80px  0 0 40px;
}
section:nth-of-type(2) div:nth-of-type(2) {
  margin: -85px 0 0 -78px;
}
section:nth-of-type(3) div:nth-of-type(1) {
  margin-top: -50px;
}
.bottom_block {
  text-align: center;
  margin: -42px 0 200px 0;
}
.bottom_block p,
.bottom_block h2 {
  width: 800px;
}
.bottom_block a {
  border: 1px solid #bbb;
  border-radius: 6px;
  text-decoration: none;
  padding: 16px 70px;
  display: inline-block;
  margin: 82px 0 0 17px;

}
.btm_black {
  color: white;
  background: #bbb;
}
